@media (max-width: 10000px) {
	.companies {
		display: none;
	}
}
@media (max-width: 1400px) {
	.container {
		padding-left: 20px;
		padding-right: 20px;
		box-sizing: border-box;
	}
	.schedulebr {
		display: none;
	}
}
@media (max-width: 1200px) {
	.service-box {
		padding: 35px;
	}
	.service-item-icon {
		width: 55px;
	}
	.service-item-content h4 {
		font-size: 23px;
	}
	.usersbr {
		display: none;
	}
	.blog-item-img img {
		width: 280px;
		margin-right: 30px;
	}
	.blog-item-content h4 {
		padding-top: 25px;
	}
	.blog-item-content br {
		display: none;
	}
	.testimonial-info {
		padding: 40px 50px;
	}
	.testimonial-member {
		top: 30px;
		left: 45px;
	}
}
@media (max-width: 1080px) {
	.service-box {
		padding: 30px;
	}
	.service-item-icon {
		width: 50px;
	}
	.service-item-content h4 {
		font-size: 21px;
	}
}
@media (max-width: 992px) {
	.header-logo a img {
		width: 40px;
	}
	.header-logo a span {
		font-size: 21px;
	}
	.primary-menu ul li a {
		padding: 0 12px;
	}
	.header-button {
		width: 19%;
	}
	.video-right h2 {
		font-size: 38px;
		padding: 0;
		margin-bottom: 25px;
	}
	.service-content h1 {
		font-size: 45px;
	}
	.service-box {
		width: 49%;
	}
	.service-box:nth-child(2n+2) {
		margin-right: 0;	
	}
	.service-box:nth-child(3) {
		margin-right: 2%;
	}
	.pricing-item-content {
		padding: 20px;
	}
	.pricing-item-content h1 span {
		font-size: 45px;
	}
	.pricing-item-content h3 {
		font-size: 23px;
	}
	.usersbr {
		display: inherit;
	}
	.companies {
		display: inherit;
	}
	.blog-item {
		width: 100%;
		margin-bottom: 20px;
	}
	.blog-item-img img {
		width: 300px;
		margin-right: 30px;
	}
	.blog-item-content h4 {
		padding-top: 65px;
	}
	.testimonial-info {
		padding: 30px 40px;
	}
	.testimonial-member {
		top: 30px;
		left: 22px;
	}
}
@media (max-width: 868px) {
	.header-logo {
		width: 100%;
		text-align: center;
	}
	.header-logo a span {
		font-size: 25px;
		position: relative;
		top: -17px;
	}
	.header-logo a img {
		width: 50px;
		float: inherit;
	}
	.header-menu {
		width: 50%;
	}
	.header-button {
		width: 48%;
	}
	.video-left {
		width: 100%;
	}
	.video-right {
		width: 100%;
	}
	.video-right h2 {
		font-size: 45px;
		margin-top: 30px;
	}
	.service-content h1 {
		font-size: 40px;
	}
	.pricing-item-info ul li {
		padding: 10px;
		font-size: 17px;
	}
	.member-info {
		padding: 20px 10px;
	}
	.member-info h4 {
		font-size: 20px;
	}
	.member-info p {
		font-size: 18px;
	}
	.blog-item-content h4 {
		padding-top: 50px;
	}
	.testimonial-info {
		padding: 20px 20px;
	}
}
@media (max-width: 768px) {
	.banner-content h3 {
		margin-top: 80px;
	}
	.banner-content h1 {
		font-size: 45px;
	}
	.banner-button .header-btn {
		padding: 12px 24px;
	}
	.header-section {
		position: absolute;
	}
	.header-menu {
		width: 65%;
	}
	.primary-menu ul li a {
		padding: 0 10px;
		font-size: 14px;
	}
	.header-button {
		width: 35%;
	}
	.banner-section {
		padding: 80px 0;
	}
	.service-content h1 {
		font-size: 28px;
	}
	.service-box {
		width: 100%;
		margin-bottom: 25px;
	}
	.price-content h2 {
		font-size: 35px;
	}
	.price-content p {
		font-size: 20px;
	}
	.pricing-items {
		width: 100%;
	}
	.pricing-item-content br {
		display: none;
	}
	.ourteam-content h2 {
		font-size: 25px;
	}
	.team-member {
		width: 49%;
		margin-bottom: 25px;
	}
	.team-member:nth-child(2) {
		margin-right: 0;
	}
	.member-info {
		padding: 20px 20px;
	}
	.newsletter-content h3 {
		font-size: 20px;
		margin-bottom: 15px;
	}
	.newsletter-content h2 {
		font-size: 35px;
	}
	.subscribe-email {
		width: 100%;
		text-align: center;
	}
	.subscribe-email form input {
		width: 84%;
	}
	.subscribe-button {
		width: 100%;
		margin-top: 20px;
		text-align: center;
	}
	.subscribe-button .header-btn {
		padding: 16px 65px;
	}
	.blog-item-content h4 {
		padding-top: 40px;
	}
	.testimonial-content h1 {
		font-size: 30px;
		font-weight: 400;
	}
	.testimonial-item {
		width: 100%;
		margin-right: 0;
		margin-bottom: 80px;
	}
	.testimonial-member {
		top: 25px;
		left: 25px;
	}
	.testimonial-info {
		padding: 40px 50px;
	}
	.contact-left-map {
		width: 100%;
	}
	.contact-right-form {
		width: 100%;
	}
	.contact-row {
		padding: 35px 0;
	}
	.contact-section {
		padding: 40px 0;
	}
	.contact-right-form h4 {
		margin-top: 40px;
	}
}

@media (max-width: 576px) {
	.header-button {
		display: none;
	}
	.header-menu {
		width: 100%;
		text-align: center;
	}
	.primary-menu ul li a {
		padding: 0 5px;
		font-size: 15px;
	}
	.primary-menu ul li ul {
		top: 133%;
		width: 166px;
	}
	.banner-button .header-btn {
		padding: 10px 15px;
	}
	.banner-button .header-btn {
		padding: 10px 15px;
	}
	.banner-content h1 {
		font-size: 30px;
	}
	.banner-content h3 {
		margin-top: 80px;
	}
	.banner-section {
		padding: 80px 0;
	}
	.service-content h1 {
		font-size: 20px;
	}
	.price-content h2 {
		font-size: 24px;
	} 
	.price-content p {
		font-size: 15px;
	}
	.ourteam-content h2 {
		font-size: 18px;
	}
	.newsletter-content h3 {
		font-size: 18px;
		margin-bottom: 13px;
	} 
	.newsletter-content h2 {
		font-size: 20px;
	}
	.testimonial-content h1 {
		font-size: 20px;
		font-weight: 500;
	}
	.testimonial-content h3 {
		font-size: 19px;
		margin-bottom: 15px;
	}
	.blog-item-img img {
		width: 100%;
		float: none;
		border-radius: 10px 10px 0 0;
	}
	.blog-item-content h4 {
		padding: 10px 15px;
		margin-bottom: 0;
	}
	.blog-item-content h4 {
		padding: 10px 15px;
		margin-bottom: 0;
	}
	.blog-item-content p {
		padding: 0 15px;
	}
}
@media (max-width: 372px) {
	.banner-button .header-btn {
		padding: 5px 8px;
		font-size: 14px;
	}
}
